#
# Copyright 2018 ABSA Group Limited
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#
# use glob syntax.
syntax: glob
*.ser
*.class
*~
*.bak
#*.off
*.old

# eclipse conf file
.settings
.classpath
.project
.manager
.scala_dependencies
.scalastyle

# idea
.idea
*.iml

# vs code
.vscode

# building
target
build
null
tmp*
temp*
dist
test-output
build.log

# other scm
.svn
.CVS
.hg*

# switch to regexp syntax.
#  syntax: regexp
#  ^\.pc/

build.log

.cache*
dependency-reduced-pom.xml

_testOutput
_tradeOutput
_tradeData
_countryMT
_currencyMT
_productMT
_nestedStructs
myTestCheckpoints

**/main/resources/application.properties
**/main/resources/application.conf
**/main/resources/application.yaml
**/main/resources/application.yml
**/main/resources/spline.properties
**/main/resources/kafka.properties
**/menas/*/main/resources/*.properties
**/enceladus_env.sh
*.config
*.keytab
.DS_Store

node_modules/
Component-preload.js

# Jekyll auto
_site
.sass-cache
.jekyll-metadata

utils/resources/*.conf
