#
# Copyright 2018 ABSA Group Limited
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

###############################
# Git Line Endings            #
###############################

# Set default behaviour to automatically normalize line endings.
* text=auto

# Force the following filetypes to have unix eols, Windows can usually handle it well
*.* text eol=lf

# Force batch scripts to always use CRLF line endings as they in some cases might not work correctly.
# Also if a repo is accessed in Windows via a file share from Linux, the scripts will work too
*.cmd text eol=crlf
*.bat text eol=crlf
