{% assign tableFileParam = {{include.file}} %}
{% assign tableFile = site.data[tableFileParam] %}

<table class="table">
  <caption>Configuration Options</caption>
  <thead>
    <tr>
      <th scope="col">Config Path</th>
      <th scope="col">Possible Value(s)</th>
      <th scope="col">Description</th>
    </tr>
  </thead>
  <tbody>
  {% for entry in tableFile %}
    {% assign current_name = entry.name %}
    {% for option in entry.options %}
    <tr>
      {% if forloop.first %}
      <td rowspan="{{ entry.options.size }}"><code><a id="{{entry.name}}">{{ entry.name}}</a></code></td>
      {% endif %}
      <td>{{option.name}}</td>
      <td>{{option.description}}</td>
    </tr>
    {% endfor %}
  {% endfor %}
  </tbody>
</table>
