html, body {
  height: 100%;
}

header {
  padding-bottom: 1rem;
}

footer {
  position: relative;
  background-color: #555;
  color: white;
  padding: 15px;
}

.bordered-header {
  border-bottom-style: bottom;
  border-bottom :2px solid rgb(182, 1, 36);
}

.nav {
  padding-bottom: 1rem
}

.nav-pills {
  .nav-link {
    color: rgb(182, 1, 36)!important;
  }

  .nav-link.active {
    color: white!important;
    background-color: rgb(182, 1, 36)!important;
  }
}

i {
  color: rgb(182, 1, 36)!important;
}

#page_number {
  text-align: center;
}

#page_move {
  text-align: right;
}

#search_button {
  background-color: rgb(182, 1, 36)!important;
  border-color: rgb(150, 1, 36)!important;
}

#search_results {
  margin-top: 1rem;
}

div .main-content {
  table {
    border-collapse: collapse;
    margin-bottom: 1rem;
  }

  td, th {
    border: 1px solid #999;
    padding: 0.5rem;
    text-align: left;
  }

  th {
    background: lightgrey;
  }
}

:not(pre) > code {
  background-color: lightgrey;
  padding: .2em .4em;
  font-size: 80%;
  border-radius: 5px;
  background-color:rgba(39, 42, 46, 0.116);
  color:rgb(43, 49, 54);
  font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace;
}
